html, body {
    margin: 0;
    font-family: "Sansation", sans-serif;
  }

header {
  background-color: rgba(255, 217, 0, 0.603);
}

.header-design {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 120px;
  gap: 15px;
  padding: 10px 0 0 0;
}

#couple3 {
  width: 180px;
  height: 120px;
}

.title {
  display: flex;
  flex-direction: column;
}

p {
  font-family: "Merriweather", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color:rgb(218, 52, 2);
  margin-bottom: 0px;
  margin-top: 10px;
}  

h1 {
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
    color: rgb(1, 136, 1);
    margin-top: 0px;
}

main {
   background-color: rgba(255, 217, 0, 0.363);
}

h2 {
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: rgb(105, 39, 180);
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0px auto;
  }

  .workbook1, .workbook2, .workbook3, .workbook4, .workbook5 {
    border-bottom: 2px solid rgb(63, 63, 63);
  }  

.Q1, .Q2, .Q3, .Q4, .Q5 {
  font-weight: 700;
  font-size: 25px;
  color: rgb(1, 136, 1);
}

.radio{
    display: block;
    align-items: center;
    border-bottom: 1px solid #bcbcbc;
    padding: 4px 8px;
}

.radio-input-btn input[type=radio] {
  display: none;
}

label{
  display: inline-block;
  background-color: rgba(102, 197, 102, 0.548);
  padding: 5px 15px;
  width: auto;
  height: 30px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 15px;
  }
 
.radio-input-btn input[type=radio]:checked + label {
  background-color: #db432f;
  border: 2px solid #db432f;
  color: white;
}

.radio-input-btn label:hover {
  color: white;
}

.radio-input-btn input[type=radio] + label {
  background: rgba(102, 197, 102, 0.548);
  color: black;
}

.choice {
   border-radius: 30%;
   box-sizing: border-box;
   width: 20px;
   height: 20px;
   cursor: pointer;
   transition: all 0.3s;
   border: 2px;
}  

 /* .choice:hover {
  color:white;
  background-color: #db432f;
  border: 2px solid #db432f;
}  */

.radio-btn {
  opacity: 0;
}

.get-image-btn {
  background-color: rgb(105, 39, 180);
  width: 200px;
  height: 60px;
  border: 3px solid rgb(105, 39, 180);
  border-radius: 30px;
  font-weight: 700;
  font-size: 30px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}

.get-image-btn:hover {
  color: black;
  background-color: #db432f;
  border: 2px solid #db432f;
}

.form-box {
  display: none;
  position: fixed;
  background-color: rgba(161, 216, 161, 0.89);
  width: 80%;
  margin: 0px auto;
  top: 60px;
  left: 60px;
  height: 500px;
  align-items: center;
}

#prize {
  display: none;
  flex-direction: column;
  align-items: center;
}

.prize-title {
  font-weight: 700;
  font-size: 30px;
  color:rgb(1, 107, 1);
  margin: 10px 40px;
}

#infor {
  display: inline-block;
  background-color: rgba(184, 149, 224, 0.815);
  padding: 5px 15px;
  width: 380px;
  height: 47px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 40px;
  color: black;
  font-weight: 500;
  font-size: 25px;
}

input {
   width: 230px;
   height: 38px;
   border: 3px solid rgba(184, 149, 224, 0.815);
   border-radius: 20px;
   text-align: center;
   color :#67595e;
   font-size: 20px;
}

.submit-btn {
  background-color: rgba(255, 217, 0, 0.808);
  width: 200px;
  height: 50px;
  border: 3px solid rgba(255, 217, 0, 0.808);
  border-radius: 30px;
  font-weight: 700;
  font-size: 25px;
  color: black;
  margin: 15px 0px;
}

.submit-btn:hover {
  color: white;
  background-color: #db432f;
  border: 2px solid #db432f;
}

  .modal-close{
  position: fixed;
  margin: auto;
  width: 72px;
  height: 37px;
}

.close-btn{
  position: absolute;
  background-color: transparent;
  border-style: none;
  color:black;
  padding: 2px 6px;
  font-weight: 500;
  font-size: 20px;
}

.close-btn:hover{
  color: white;
  background-color: #db432f;
  border: 2px solid #db432f;
}

.modal-close {
  background-color: rgb(101, 185, 101);
}

.on {
  display: block;
}

#score {
  display: flex;
  position: fixed;
  margin: 100px 50px;
  color: black;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}

